<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Country</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Countries</h1>
    <hr>
    <h2>Create country</h2>
    <form action="#" th:action="@{/thyme/countries/create}" th:object="${newCountry}" method="POST">
        <input type="text" th:field="*{name}" placeholder="Country name"
               class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
</div>
<table align="center" style="width:80%" border="1"
       class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th>Id</th>
        <th>Country</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="country, iterStat : ${countries}">
        <td th:text="${country.id}"></td>
        <td th:text="${country.name}"></td>
        <td><a th:href="@{/thyme/countries/update/{id}(id=${country.id})}"
               class="btn btn-primary">Update</a></td>
        <td>
            <form action="#" th:action="@{/thyme/countries/delete/{id}(id=${country.id})}" method="POST">
                <input type="hidden" name="_method" value="DELETE"/>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>