<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Cities</h1>
    <hr>
    <h2>Update city</h2>
    <form action="#" th:action="@{/thyme/cities/update}" th:object="${city}" method="POST">
        <input type="hidden" name="_method" value="PUT"/>
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{name}" placeholder="City name" class="form-control mb-4 col-4">
        <select class="form-control mb-4 col-4" th:name="selectedState">
            <option value="0">State</option>
            <option th:each="state : ${availableSates}" th:value="${state.id}"
                    th:text="${state.name}" th:selected="${state.id == city.state.id}"></option>
        </select>
        <button type="submit" class="btn btn-info col-2">Update</button>
    </form>
    <hr>
    <a th:href = "@{/thyme/cities}"> Back to City List</a>
</div>
</body>
</html>