<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Performer</title>
</head>
<body>
<div class="container">
    <h1>Performers</h1>
    <hr>
    <h2>Update performer</h2>
    <form action="#" th:action="@{/thyme/performers/update}" th:object="${performer}" method="Put">
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{name}" placeholder="Performer name" class="form-control mb-4 col-4">
        <input type="text" th:field="*{information}" placeholder="Performer information"
               class="form-control mb-4 col-4">
        <input type="date" th:field="*{birthDate}" class="form-control mb-4 col-4">
        <div th:each="city : ${availableCities}">
            <input type="radio" th:id="${'city_' + city.id}" th:name="selectedCity" th:value="${city.id}"/>
            <label th:for="${'city_' + city.id}" th:text="${city.name}"></label><br/>
        </div>
        <div th:each="genre : ${availableGenres}">
            <input type="checkbox" th:id="${'genre_' + genre.id}" th:name="selectedGenres" th:value="${genre.id}"/>
            <label th:for="${'genre_' + genre.id}" th:text="${genre.name}"></label><br/>
        </div>
        <button type="submit" class="btn btn-info col-2">Update</button>
    </form>
    <hr>
    <a th:href = "@{/thyme/performers}"> Back to Performers List</a>
</div>
</body>
</html>