<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Performer</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Performers</h1>
    <hr>
    <a href="/thyme/genres">Genres</a>
    <a href="/thyme/cities">Cities</a>
    <a href="/thyme/states">States</a>
    <a href="/thyme/countries">Countries</a>
    <h2>Create performer</h2>
    <form action="#" th:action="@{/thyme/performers/create}" th:object="${newPerformer}" method="POST">
        <input type="text" th:field="*{name}" placeholder="Performer name" class="form-control mb-4 col-4">
        <input type="text" th:field="*{information}" placeholder="Performer information"
               class="form-control mb-4 col-4">
        <input type="date" th:field="*{birthDate}" class="form-control mb-4 col-4">
        <select class="form-control mb-4 col-4" th:name="selectedCity">
            <option value="0">City</option>
            <option th:each="city : ${availableCities}" th:value="${city.id}"
                    th:text="${city.name}"></option>
        </select>
        <select class="form-control mb-4 col-4" name="selectedGenres" multiple="multiple">
            <option th:each="genre : ${availableGenres}" th:value="${genre.id}" th:text="${genre.name}"></option>
        </select>
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
</div>
<table align="center" style="width:80%" border="1"
       class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Information</th>
        <th>Birth date</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Genre</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="performer, iterStat : ${performers}">
        <td th:text="${performer.id}"></td>
        <td th:text="${performer.name}"></td>
        <td th:text="${performer.information}"></td>
        <td th:text="${performer.birthDate}"></td>
        <td th:text="${performer.city.name}"></td>
        <td th:text="${performer.city.state.name}"></td>
        <td th:text="${performer.city.state.country.name}"></td>
        <td>
            <ul>
                <li th:each="genre : ${performer.genre}" th:text="${genre.name}"></li>
            </ul>
        </td>
        <td><a th:href="@{/thyme/performers/update/{id}(id=${performer.id})}"
               class="btn btn-primary">Update</a></td>
        <td><a th:href="@{/thyme/performers/delete/{id}(id=${performer.id})}"
               class="btn btn-danger">Delete</a>
            <!--<form th:action="@{/thyme/performers/delete/{id}(id=${performer.id})}" th:method="DELETE">
                <input type="hidden" name="_method" value="DELETE" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>-->
            <form th:action="@{/thyme/performers/delete/{id}(id=${performer.id})}" method="post">
                <button type="submit" class="btn btn-danger">Delete1</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>