<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Albums</h1>
    <hr>
    <h2>Update album</h2>
    <form action="#" th:action="@{/thyme/albums/update}" th:object="${album}" method="POST">
        <input type="hidden" name="_method" value="PUT"/>
        <input type="hidden" th:field="*{id}"/>
        <input type="text" th:field="*{title}" placeholder="Album title" class="form-control mb-4 col-4">
        <input type="text" th:field="*{description}" placeholder="Album description"
               class="form-control mb-4 col-4">
        <input type="date" th:field="*{releaseDate}" class="form-control mb-4 col-4">
        <div>
            <p>Performers:</p>
            <ul>
                <li th:each="performer : ${album.performers}" th:text="${performer.name}"></li>
            </ul>
        </div>
        <select class="form-control mb-4 col-4" name="selectedPerformers" multiple="multiple">
            <option th:each="performer : ${availablePerformers}" th:value="${performer.id}" th:text="${performer.name}"></option>
        </select>
        <button type="submit" class="btn btn-info col-2">Update</button>
    </form>
    <hr>
    <a th:href="@{/thyme/albums}"> Back to Album List</a>
</div>
</body>
</html>